@import "../../common/stylus/variable";

.search-box
  display: flex
  align-items: center
  box-sizing: border-box
  width: 100%
  padding: 0 6px
  height: 40px
  background: #f5f5f5
  border-radius: 6px
  .el-icon-coral-search
    font-size: 24px
    color: #999
  .box
    flex: 1
    margin: 0 5px
    line-height: 40px
    background: #f5f5f5
    color: #fff
    font-size: $font-size-medium
    &::placeholder
      color: #fff
  .el-icon-coral-close
    font-size: 16px
    color: $color-background