@import "../../common/stylus/mixin.styl";

.my-carts-container
  container()
  &.slide-enter-active, &.slide-leave-active
    transition 0.3s
  &.slide-enter, &.slide-leave-to
    transform translate3d(100%, 0, 0)
  .content-wrapper
    scroll-wrapper()
    .block-content
      width: 100%;
      padding: 0.05rem 0.05rem 0 0.05rem;
      box-sizing: border-box;
      .content-main
        background: #fff;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.10);
        border-radius: 4px;
        display: flex;
        flex-direction: row;
        align-items: center;
      .group-content-main
        height: 1.06rem;
        .avatar
          padding: 0 0.1rem;
          img
            width: 0.82rem;
            height: 0.86rem;
            vertical-align: middle;
            border-radius: 5px;
        .info
          flex: 1;
          height: 100%;
          box-sizing: border-box;
          padding: 0.1rem;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          .info-item
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .group-name
              color: #000;
              font-weight: 300;
              line-height: 0.2rem;
              flex 1
              width 0
              no-wrap()
            .group-status-wrapper
              width 0.7rem
              text-align right
              .group-status
                display: inline-block;
                height: 0.18rem;
                line-height: 0.18rem;
                text-align: center;
                padding: 0.01rem 0.08rem;
                background-color: #64c708;
                border-radius: 0.09rem;
                color: #fff;
                opacity: 0.9;
              .group-status-disabled
                background-color: #bcbcbc;
            .el-icon-coral-naozhong
              color: #f5a623;
              margin-right 0.02rem
            .el-icon-coral-caiwu-xianxing
              color: #ee735c
              margin-right 0.02rem
  .no-result-wrapper
    no-result-wrapper()
