@import "../../common/stylus/mixin.styl";

.group-shop-container
  container()
  z-index 100
  display flex
  flex-direction column
  color #000
  font-size 14px
  &.slide-enter-active, &.slide-leave-active
    transition all 0.3s linear
  &.slide-enter, &.slide-leave-to
    transform translate3d(100%, 0, 0)
  .info-wrapper
    z-index 100
    transform translate3d(0, 0, 0)
    .info
      width: 100%;
      box-sizing: border-box;
      padding: 0.05rem 0.2rem 0;
      background #fff
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      div
        display: flex;
        flex-direction: row;
        padding:4px 0px;
        .column
          width: 100%;
          display: flex;
          flex-direction: row;
          .title
            color: #9b9b9b;
            width: 25%;
          .count
            color: #d0021b;
    .description
      padding: 10px 20px;
      box-sizing: border-box;
      width: 100%;
      background: #f8f8f8;
      border-top: 1px solid #eaeaea;
      border-radius: 2px;
      color #666
      span
        line-height: 17px;
        p
          color: #2b2b2b;
        span
          color: #2b2b2b;
  .content-wrapper
    flex: 1
    position absolute
    top 0.45rem
    left 0
    bottom 0px
    right 0
    overflow hidden
    display flex
    flex-direction column
    .search-box-wrapper
      padding 0.1rem
      background #fff
      z-index 500
    .details
      width 100%
      max-height 100%
      box-sizing border-box
      display flex
      font-size 14px
      .menu-wrapper
        flex: 0 0 60px
        width 60px
        height 100vh
        background #f4f4f4
        .menu-item
          display table
          height 44px
          width 36px
          line-height 14px
          padding 0 12px
          &.current
            position relative
            margin-top -1px
            z-index 10
            background #fff
            color #218ad9
            .text
              font-weight 700
              border-none()
          .icon
            display inline-block
            width 12px
            height 12px
            vertical-align top
            margin-right 2px
            background-size 12px 12px
            background-repeat no-repeat
          .text
            display table-cell
            width 36px
            vertical-align middle
            border-1px(rgba(7, 17, 27, 0.1))
            font-size 12px
      .details-wrapper
        flex 1
        .block-content
          width: 100%;
          padding: 0.05rem 0.05rem 0 0.05rem;
          box-sizing: border-box;
          .activeBg
            background: #f4ffee !important;
          .content-main
            background: #fff;
            box-shadow: 0 2px 6px 0 rgba(0,0,0,0.10);
            border-radius: 4px;
            display: flex;
            flex-direction: row;
            align-items: center;
          .ency-content-main
            height: 0.88rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            .pic
              margin: 0.1rem;
              img
                width: 0.88rem;
                height: 0.64rem;
                border-radius: 5px;
            .detail-info
              flex: 1;
              height: 100%;
              box-sizing: border-box;
              padding: 0.1rem 0.1rem 0.1rem 0;
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              .name-price
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                .ency-size
                  color: #cbcbcb;
                .ency-price
                  color: #f5a623;
              .ency-name
                width 80%
              .tags
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                .tag
                  margin-right: 2px;
                  span
                    color: #9b9b9b;
              .others
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
        .no-result-wrapper
          margin-top 100px;
           